<mat-card *ngIf="!isProcessing">
    <mat-card-title>
        Robot battle
    </mat-card-title>
    <mat-card-content>
        Just a small demo and work in progress
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
            color="primary"
            (click)="goToVr()">Go to VR world</button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>